<% if logged_in? %>
    <h2>Welcome, <%= current_user.username %><br>
    <a href="/squirrels/new">Add a new Squirrel!</a>
<% end %>
<br>
<br>
<h1>Browse the newest squirrels!</h1>
<% @squirrels.each do |squirrel| %>
  <img src="<%= squirrel.img_link %>" alt="<% squirrel.name %>" style="width:128px;height:128px;"><br />
  <strong>Owner Username:</strong> <%= squirrel.user.username %><br />
  <strong>Squirrel's Name:</strong> <%= squirrel.name %><br />
  <strong>Fur Color:</strong> <%= squirrel.fur_color %> <br />
  <strong>Mood: </strong><%= squirrel.mood %> <br />
  <% if current_user == squirrel.user%>
  <a href='/squirrels/<%=squirrel.id%>'>Edit or delete</a>
  <% end %>
  <br>
  <br>
<% end %>