<% if logged_in? %>
    <h2>Welcome, <%= current_user.username %>
<% end %>
<h1><%= @user.username %>'s Collection</h1>
<a href="/squirrels/new">Add a new Squirrel!</a>
<% @user.squirrels.each do |squirrel| %>
  <%= squirrel.name %><br />
  <%= squirrel.fur_color %> <br />
  <%= squirrel.mood %> <br />
<% if current_user == @user %>
  <form>
    <input type="hidden" id="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete Squirrel" id="delete" />
  </form>
  <a href="/pets/<%=@pet.id%>/edit">
  <br />
  <br />
<% end %>
<% end %>