<h1>Show Page</h1>

<strong>Squirrel's Name:</strong> <%= @squirrel.name %><br />
<strong>Fur Color:</strong> <%= @squirrel.fur_color %> <br />
<strong>Mood: </strong><%= @squirrel.mood %> <br />

<a href="/squirrels/<%=  @squirrel.id  %>/edit">Edit this squirrel</a>

<form action="/squirrels/<%=  @squirrel.id  %>" method="POST">
  <input type="hidden" value="DELETE"  name="_method">
  <input type="submit" value="Delete">

</form>