<% if logged_in? %>
<h1>Show Page</h1>

<img src="<%= @squirrel.img_link %>" alt="<% @squirrel.name %>" style="width:200px;height:200px;"><br />
<strong>Squirrel's Name:</strong> <%= @squirrel.name %><br />
<strong>Fur Color:</strong> <%= @squirrel.fur_color %> <br />
<strong>Mood: </strong><%= @squirrel.mood %> <br />

<% if authorized? %>

<a href="/squirrels/<%=  @squirrel.id  %>/edit">Edit this squirrel</a>

<form action="/squirrels/<%=  @squirrel.id  %>" method="POST">
  <input type="hidden" value="DELETE"  name="_method">
  <input type="submit" value="Delete">

</form>
<% end %>
<br>
<a href="/squirrels">Back to All Squirrels</a>
<% end %>